*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto';
    font-weight: 700;
  }
  
  body {
    background-color: rgb(207, 205, 205);
  }
  
  
  .keyboard {
    margin: 0px;
    padding: 0px;
  }
  
  .keyboard__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    padding-top: 20px;
    text-align: center;
    color: #fc7b1e;
  }
  
  .textarea {
    padding-top: 60px;
  }
  
  #textarea {
    border-radius: 5px;
    outline: none;
    -moz-appearance: none;
      border: 1px solid #999; 
    resize: none;
    border: 2px solid #fc7b1e;
    -webkit-box-shadow: 7px 19px 51px 0px rgba(152, 223, 66, 0.21);
    -moz-box-shadow: 7px 19px 51px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 7px 19px 51px 0px rgba(6, 191, 243, 0.21);
  }
  
  .keyboard__container {
    margin-top: 10px;
    padding: 10px;
    display: block;
    width: 870px;
    background-color: rgb(83, 83, 83);
    border-radius: 15px;
    -webkit-box-shadow: 7px 19px 31px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 7px 19px 31px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 7px 19px 31px 0px rgba(0, 0, 0, 0.21);
    
  }
  
  .k-key {
    float: left;
    padding: 12px 4px 4px 4px;
    margin: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
    background-color: #fa9b57;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: -5px -7px 100px 9px rgba(219, 219, 219, 0.21);
    -moz-box-shadow: -5px -7px 100px 9px rgba(219, 219, 219, 0.21);
    box-shadow: -5px -7px 100px 9px rgba(219, 219, 219, 0.21);
    
  }
  
  .active {
    background-color: #fc7b1e;
    border-radius: 10px;
    -webkit-box-shadow: -5px -7px 100px 9px rgba(255, 255, 255, 0.21) inset;
    -moz-box-shadow: -5px -7px 100px 9px rgba(255, 255, 255, 0.21) inset;
    box-shadow: -5px -7px 100px 9px rgba(255, 255, 255, 0.21) inset;
  
  }
  .clearfix {
    display: block;
    width: 100%;
    clear: both;
  }
  
  .Backspace {
    width: auto;
  }
  
  .Tab {
    width: 75px; 
  }
  
  .CapsLock {
    width: auto; 
  }
  
  .Enter {
    width: 120px; 
  }
  
  .ShiftLeft {
    width: 100px; 
  }
  
  .ControlLeft {
    width: auto;
  }
  
  .MetaLeft {
    width: auto;
  }
  
  .AltLeft {
    width: 60px; 
  }
  
  .Space {
    width: 300px;
  }
  
  .ShiftRight {
    width: 100px; 
  }
  
  .ControlLeft {
    width: auto;
  }
  
  .ControlRight {
    width: auto;
  }
  
  .info {
    padding-top: 20px;
  }
  
  
  .description {
    color: #fc7b1e;
    padding-top: 20px;
  }